<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textutils</title>
</head>
<body>
    <h1>Welcome to the text analyazer. Enter your text below</h1>
    <form action='analyze' method='get'>
         <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
         <input type="checkbox" name="removepunc"> Remove puncuation <br>
         <input type="checkbox" name="fullcaps"> UPPERCASE<br>
         <input type="checkbox" name="newlineremover"> New Line Remover<br>
         <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
         <input type="checkbox" name="charcount"> Character
         count<br>
         <button type='submit'> Analyze Text</button>
       
    </form>
</body>
</html>